.input {
	width: 30%;
	font-size: 18px;
	padding: 8px;
	border: 1px solid rgb(160, 160, 160);
	border-radius: 15px;
}

.input:focus {
	outline: none;
}

@media (max-width: 1000px) {
	.input {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.input {
		width: 70%;
	}
}

@media (max-width: 640px) {
	.input {
		width: 100%;
	}
}
