.root {
	width: 95%;
	margin: 0 auto;
	padding: 30px;
}

.headerTitle {
	text-transform: uppercase;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}
